.F {
	border: solid black;
	background-color: #1e96fc;
	border-radius: 5px;
	height: auto;
	width: 250px;
	margin-left: auto;
	margin-right: auto;

}
.nom{
	text-align: center;
	font-weight: bold;
}
.img1{
	width: 150px;
	margin-top: 100px;
}
.PP, input{
	
	border: solid black;
	background-color: #1e96fc;
	border-radius: 5px;
	height: auto;
	width: 250px;
	margin-left: auto;
	margin-right: auto;


}
.PP1 {
	border: solid black;
	background-color: #1e96fc;
	border-radius: 5px;
	float: left;
	
	margin: 0px 50px 0px 250px ;

	
}


.PP2 {
	border: solid black;
	background: #1e96fc;
	border-radius: 5px;
float: right;
margin: 0px 250px 0px 50px ;


}




.PP p{
	color: black;
	
}
h1{
	text-align: center;
	color: black;
}
body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFts_hDZBltHChyJ9sW06lozoFDXUDexeTtQ&usqp=CAU");
	background-size: cover;
background-repeat: no-repeat;
}
.text{
	
	width: 250px;
}