.PP {
	border: solid black;
	background: #d100d1;
	border-radius: 5px;
	height: auto;
	width: 250px;
	margin-left: auto;
	margin-right: auto;

}
.nom{
	text-align: center;
	font-weight: bold;
}
.img1{
	width: 150px;
	margin-top: 100px;
}
.PP, input{
	
	border: solid black;
	background: #d100d1;
	border-radius: 5px;
	height: auto;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.PP p{
	color: black;
	
}
h1{
	text-align: center;
	color: white;
}
body{
	background-image: url("file:///home/rsma09/Images/Cute-Mew-Wallpaper-mew-the-pokemon-40820594-1024-768.jpg");
	background-size: cover;


}
.text{
	
	width: 250px;
}